In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')

In [2]:
dataset = pd.read_csv('multisat.csv')

In [3]:
dataset

     SAT   GPA  Rand 1,2,3
0   1714  2.40           1
1   1664  2.52           3
2   1760  2.54           3
3   1685  2.74           3
4   1693  2.83           2
..   ...   ...         ...
79  1936  3.71           3
80  1810  3.71           1
81  1987  3.73           3
82  1962  3.76           1
83  2050  3.81           2

[84 rows x 3 columns]

In [4]:
x = dataset.iloc[:,[0,2]].values

In [5]:
x

array([[1714,    1],
       [1664,    3],
       [1760,    3],
       [1685,    3],
       [1693,    2],
       [1670,    1],
       [1764,    2],
       [1764,    1],
       [1792,    2],
       [1850,    3],
       [1735,    3],
       [1775,    2],
       [1735,    1],
       [1712,    3],
       [1773,    2],
       [1872,    2],
       [1755,    3],
       [1674,    2],
       [1842,    3],
       [1786,    3],
       [1761,    3],
       [1722,    3],
       [1663,    3],
       [1687,    1],
       [1974,    1],
       [1826,    1],
       [1787,    1],
       [1821,    3],
       [2020,    1],
       [1794,    2],
       [1769,    1],
       [1934,    1],
       [1775,    1],
       [1855,    3],
       [1880,    2],
       [1849,    2],
       [1808,    3],
       [1954,    3],
       [1777,    3],
       [1831,    2],
       [1865,    3],
       [1850,    1],
       [1966,    3],
       [1702,    1],
       [1990,    1],
       [1925,    2],
       [1824,    2],
       [1956,    1],
       [1857,    1],
       [1979,    3],
       [1802,    3],
       [1855,    1],
       [1907,    2],
       [1634,    2],
       [1879,    1],
       [1887,    1],
       [1730,    2],
       [1953,    1],
       [1781,    2],
       [1891,    2],
       [1964,    1],
       [1808,    3],
       [1893,    3],
       [2041,    3],
       [1893,    1],
       [1832,    2],
       [1850,    3],
       [1934,    2],
       [1861,    2],
       [1931,    3],
       [1933,    3],
       [1778,    1],
       [1975,    1],
       [1934,    3],
       [2021,    3],
       [2015,    3],
       [1997,    1],
       [2020,    2],
       [1843,    3],
       [1936,    3],
       [1810,    1],
       [1987,    3],
       [1962,    1],
       [2050,    2]], dtype=int64)

In [6]:
y = dataset.iloc[:,1].values

In [7]:
y

array([2.4 , 2.52, 2.54, 2.74, 2.83, 2.91, 3.  , 3.  , 3.01, 3.01, 3.02,
       3.07, 3.08, 3.08, 3.12, 3.17, 3.17, 3.17, 3.17, 3.19, 3.19, 3.19,
       3.2 , 3.21, 3.24, 3.28, 3.28, 3.28, 3.28, 3.28, 3.28, 3.28, 3.29,
       3.29, 3.29, 3.31, 3.32, 3.34, 3.37, 3.37, 3.37, 3.38, 3.38, 3.39,
       3.39, 3.4 , 3.4 , 3.4 , 3.41, 3.41, 3.41, 3.42, 3.42, 3.42, 3.44,
       3.47, 3.47, 3.47, 3.47, 3.48, 3.49, 3.49, 3.5 , 3.51, 3.51, 3.52,
       3.52, 3.54, 3.58, 3.58, 3.59, 3.59, 3.6 , 3.6 , 3.61, 3.62, 3.64,
       3.65, 3.71, 3.71, 3.71, 3.73, 3.76, 3.81])

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [10]:
x_train.shape

(67, 2)

In [11]:
x_test.shape

(17, 2)

In [12]:
from sklearn.svm import SVR

In [13]:
model = SVR(kernel='linear')

In [14]:
model.fit(x_train,y_train)

SVR(kernel='linear')

In [15]:
model.score(x_train,y_train)

0.41954901687527324

In [16]:
model.score(x_test,y_test)

0.30599904062247996