In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')

In [3]:
dataset = pd.read_csv('sat.csv')

In [4]:
dataset

     SAT   GPA
0   1714  2.40
1   1664  2.52
2   1760  2.54
3   1685  2.74
4   1693  2.83
..   ...   ...
79  1936  3.71
80  1810  3.71
81  1987  3.73
82  1962  3.76
83  2050  3.81

[84 rows x 2 columns]

In [5]:
x = dataset['SAT']

In [6]:
y = dataset['GPA']

In [7]:
x

0     1714
1     1664
2     1760
3     1685
4     1693
      ...
79    1936
80    1810
81    1987
82    1962
83    2050
Name: SAT, Length: 84, dtype: int64

In [8]:
y

0     2.40
1     2.52
2     2.54
3     2.74
4     2.83
      ...
79    3.71
80    3.71
81    3.73
82    3.76
83    3.81
Name: GPA, Length: 84, dtype: float64

In [15]:
from sklearn.tree import DecisionTreeRegressor

In [16]:
model = DecisionTreeRegressor()

In [18]:
type(x)

pandas.core.series.Series

In [19]:
x = np.array(x)

In [20]:
type(x)

numpy.ndarray

In [21]:
x.shape

(84,)

In [22]:
x

array([1714, 1664, 1760, 1685, 1693, 1670, 1764, 1764, 1792, 1850, 1735,
       1775, 1735, 1712, 1773, 1872, 1755, 1674, 1842, 1786, 1761, 1722,
       1663, 1687, 1974, 1826, 1787, 1821, 2020, 1794, 1769, 1934, 1775,
       1855, 1880, 1849, 1808, 1954, 1777, 1831, 1865, 1850, 1966, 1702,
       1990, 1925, 1824, 1956, 1857, 1979, 1802, 1855, 1907, 1634, 1879,
       1887, 1730, 1953, 1781, 1891, 1964, 1808, 1893, 2041, 1893, 1832,
       1850, 1934, 1861, 1931, 1933, 1778, 1975, 1934, 2021, 2015, 1997,
       2020, 1843, 1936, 1810, 1987, 1962, 2050], dtype=int64)

In [23]:
x = x.reshape(-1,1)

In [24]:
x.shape

(84, 1)

In [25]:
x

array([[1714],
       [1664],
       [1760],
       [1685],
       [1693],
       [1670],
       [1764],
       [1764],
       [1792],
       [1850],
       [1735],
       [1775],
       [1735],
       [1712],
       [1773],
       [1872],
       [1755],
       [1674],
       [1842],
       [1786],
       [1761],
       [1722],
       [1663],
       [1687],
       [1974],
       [1826],
       [1787],
       [1821],
       [2020],
       [1794],
       [1769],
       [1934],
       [1775],
       [1855],
       [1880],
       [1849],
       [1808],
       [1954],
       [1777],
       [1831],
       [1865],
       [1850],
       [1966],
       [1702],
       [1990],
       [1925],
       [1824],
       [1956],
       [1857],
       [1979],
       [1802],
       [1855],
       [1907],
       [1634],
       [1879],
       [1887],
       [1730],
       [1953],
       [1781],
       [1891],
       [1964],
       [1808],
       [1893],
       [2041],
       [1893],
       [1832],
       [1850],
       [1934],
       [1861],
       [1931],
       [1933],
       [1778],
       [1975],
       [1934],
       [2021],
       [2015],
       [1997],
       [2020],
       [1843],
       [1936],
       [1810],
       [1987],
       [1962],
       [2050]], dtype=int64)

In [26]:
model.fit(x,y)

DecisionTreeRegressor()

In [27]:
# R2
model.score(x,y)

0.9486994843352543